* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-optical-sizing: auto;
	font-style: normal;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

:root {
	-webkit-font-smoothing: antialiased;
	--font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	--font-display: 'Inter', var(--font-fallback);
	--font-mono: 'Fira Code', monospace;
	--font-numeric: 'Space Grotesk', var(--font-fallback);
	--font-size-1: 14px;
	--font-size-3: 16px;
	--font-size-4: 18px;
	--font-size-5: 20px;
	--font-size-6: 24px;
	--font-size-7: 32px;
	--font-paragraph-spacing: 0.3px;
	--font-paragraph-height: 1.75;
	--base-hue: 266;
	--white: oklch(100% 0 0);
	--gray-000: oklch(12.92% 0.005 var(--base-hue));
	--gray-100: oklch(14.68% 0.01 var(--base-hue));
	--gray-200: oklch(16.75% 0.011 var(--base-hue));
	--gray-300: oklch(17.8% 0.012 var(--base-hue));
	--gray-400: oklch(24.84% 0.018 var(--base-hue));
	--gray-500: oklch(28.69% 0.023 var(--base-hue));
	--gray-600: oklch(35.33% 0.028 var(--base-hue));
	--gray-700: oklch(41.6% 0.035 var(--base-hue));
	--gray-800: oklch(48.49% 0.042 var(--base-hue));
	--gray-900: oklch(56.78% 0.05 var(--base-hue));
	--gray-1000: oklch(66.65% 0.04 var(--base-hue));
	--gray-1100: oklch(77.16% 0.028 var(--base-hue));
	--gray-1200: oklch(94.23% 0.006 var(--base-hue));
	--blue-100: oklch(100% 0 var(--base-hue));
	--blue-200: oklch(98.91% 0.005 var(--base-hue));
	--blue-300: oklch(96.85% 0.013 var(--base-hue));
	--blue-400: oklch(93.66% 0.027 var(--base-hue));
	--blue-500: oklch(88.34% 0.052 var(--base-hue));
	--blue-600: oklch(82% 0.082 var(--base-hue));
	--blue-700: oklch(73.65% 0.124 var(--base-hue));
	--blue-800: oklch(64.6% 0.172 var(--base-hue));
	--blue-900: oklch(55.52% 0.223 var(--base-hue));
	--blue-1000: oklch(46.51% 0.225 var(--base-hue));
	--blue-1100: oklch(36.42% 0.168 var(--base-hue));
	--blue-1200: oklch(23.85% 0.101 var(--base-hue));
	--green-100: oklch(23.08% 0.04 170);
	--green-200: oklch(24.95% 0.04 170);
	--green-300: oklch(28.57% 0.056 170);
	--green-400: oklch(33.81% 0.067 170);
	--green-500: oklch(40.49% 0.081 170);
	--green-600: oklch(50.03% 0.101 170);
	--green-700: oklch(60.62% 0.123 170);
	--green-800: oklch(73.6% 0.15 170);
	--green-900: oklch(86.02% 0.176 170);
	--green-1000: oklch(89.3% 0.169 170);
	--green-1100: oklch(91.18% 0.134 170);
	--green-1200: oklch(94.49% 0.08 170);
	--red-100: oklch(20.11% 0.07 22);
	--red-200: oklch(21.27% 0.075 22);
	--red-300: oklch(23.51% 0.084 22);
	--red-400: oklch(26.84% 0.099 22);
	--red-500: oklch(31.03% 0.116 22);
	--red-600: oklch(37.24% 0.143 22);
	--red-700: oklch(43.14% 0.167 22);
	--red-800: oklch(51.82% 0.204 22);
	--red-900: oklch(60.12% 0.235 22);
	--red-1000: oklch(64.51% 0.204 22);
	--red-1100: oklch(73.3% 0.145 22);
	--red-1200: oklch(85.47% 0.071 22);
	--orange-100: oklch(20.38% 0.044 60);
	--orange-200: oklch(21.87% 0.048 60);
	--orange-300: oklch(24.79% 0.055 60);
	--orange-400: oklch(28.78% 0.067 60);
	--orange-500: oklch(34.43% 0.081 60);
	--orange-600: oklch(42.19% 0.101 60);
	--orange-700: oklch(50.38% 0.125 60);
	--orange-800: oklch(60.87% 0.153 60);
	--orange-900: oklch(70.93% 0.18 60);
	--orange-1000: oklch(76.91% 0.165 60);
	--orange-1100: oklch(83.38% 0.121 60);
	--orange-1200: oklch(90.99% 0.066 60);
	--pink-100: oklch(91.7% 0.052 352);
	--pink-200: oklch(90.69% 0.059 352);
	--pink-300: oklch(89.72% 0.06 352);
	--pink-400: oklch(86.75% 0.086 352);
	--pink-500: oklch(82.97% 0.114 352);
	--pink-600: oklch(77.72% 0.155 352);
	--pink-700: oklch(73.12% 0.194 352);
	--pink-800: oklch(68.84% 0.231 352);
	--pink-900: oklch(65.43% 0.257 352);
	--pink-1000: oklch(55.6% 0.24 352);
	--pink-1100: oklch(42.39% 0.195 352);
	--pink-1200: oklch(30.21% 0.138 352);
	--accent: var(--blue-800);
	--background: var(--gray-200);
	--header: oklch(from var(--gray-100) l c h / 40%);
	--emphasis: oklch(from var(--blue-800) l c h / 7%);
	--foreground: var(--gray-300);
	--danger: var(--red-1000);
	--danger-emphasis: oklch(from var(--red-1000) l c h / 10%);
	--warning: var(--orange-900);
	--warning-emphasis: oklch(from var(--orange-900) l c h / 10%);
	--success: var(--green-900);
	--success-emphasis: oklch(from var(--green-900) l c h / 10%);
	--text-primary: var(--blue-400);
	--text-secondary: var(--gray-1100);
	--text-tertiary: var(--gray-1000);
	--border-color: var(--gray-400);
}

::-webkit-scrollbar-thumb {
	background-color: var(--text-tertiary);
	border: 3px solid var(--background);
	border-radius: 100vmax;
}
::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--background);
}
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background-color: transparent;
}
*::after,
*::before {
	box-sizing: border-box;
}
html {
	font: 100% / 1.2888 var(--font-display);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	background: var(--background);
	color: var(--text-primary);
	background-image: linear-gradient(45deg, #3f2b96 0%, #a8c0ff 100%);
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	min-height: 100vh;
	height: auto;
	width: 100vw;
	user-select: none;
	scroll-behavior: smooth;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	scrollbar-width: none;
}

body,
body * {
	position: relative;
}

a,
a * {
	text-decoration: none;
}

main {
	width: 100%;
	min-height: calc(100vh - 50px);
}

.page-icon {
	display: block;
	background-color: black;
	height: 20px;
	width: 20px;
}

.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000090;
	animation: fadeIn 0.3s ease;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-container button {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: 0;
}

.modal-container .modal {
	width: min(550px, 90%);
	display: block;
	border-radius: 40px;
	background-color: #fff;
	padding: 20px;
	animation: fadeScaleIn 0.3s ease;
}
.modal .modal-link-info {
	width: fit-content;
	background-color: #00000020;
	border-radius: 20px;
	display: flex;
	color: black;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: auto;
	padding: 20px;
	border: 1px solid #00000030;
}

.modal-link-info .page-icon {
	height: 50px;
	width: 50px;
}

.modal .link-container {
	width: 100%;
	display: flex;
	margin-top: 30px;
	border-radius: 20px;
	overflow-x: scroll;
}

.modal .link-container a {
	width: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	align-items: center;
	margin: 0 5px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	color: black;
}

.modal .link-container a img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: contain;
	margin-bottom: 5px;
}

.modal .top-bar {
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	min-height: 40px;
	margin-bottom: 10px;
}
.modal .top-bar .event-button {
	position: absolute;
	top: 0;
	right: 0;
	left: unset;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00000020;
	cursor: pointer;
}

.modal .top-bar .event-button div {
	background-color: black;
	display: block;
	height: 20px;
	line-height: 50px;
	width: 20px;
}

.modal .top-bar h1 {
	width: 100%;
	text-align: center;
	color: black;
}

.grid-container {
	display: grid;
	gap: 10px;
	padding: 10px;
	margin: auto;
	width: min(700px, 90%);
	grid-template-columns: repeat(auto-fit, minmax(max(40%, 305px), 1fr));
}

.link-button {
	border-radius: 20px;
	border: 2px solid #fff;
}

.link-button a {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 10px;
	cursor: default;
	gap: 10px;
	font-weight: bold;
	justify-content: space-between;
}

.link-button span {
	border-radius: 10px;
	flex-grow: 1;
	padding: 10px;
	background-color: #fff;
	display: flex;
	width: fit-content;
	text-decoration: none;
	cursor: pointer;
}

.link-button span p {
	color: var(--background);
	text-decoration: none;
	margin-left: 10px;
}

.link-button a .event-button {
	padding: 0 20px;
	display: block;
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;
	border: 0;
}

header {
	width: 100%;
}

header .header-center {
	display: block;
	margin: auto;
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header span {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto 20px auto;
	overflow: hidden;
	transform: rotate(-45deg);
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

header span img {
	width: 110%;
	height: 110%;

	transform: rotate(45deg);
}

header h1 {
	margin: 0px 0 5px 0;
}

header p {
	margin: 0 0 20px 0;
}

footer {
	width: 100%;
	height: auto;
	padding: 10px 0;
}
footer p {
	display: block;
	margin: auto;
	width: fit-content;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeScaleIn {
	from {
		opacity: 0;
		transform: scale(0.7);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
	:root {
		--base-hue: 266;
		--white: oklch(100% 0 0);
		--gray-000: oklch(12.92% 0.005 var(--base-hue));
		--gray-100: oklch(14.68% 0.01 var(--base-hue));
		--gray-200: oklch(16.75% 0.011 var(--base-hue));
		--gray-300: oklch(17.8% 0.012 var(--base-hue));
		--gray-400: oklch(24.84% 0.018 var(--base-hue));
		--gray-500: oklch(28.69% 0.023 var(--base-hue));
		--gray-600: oklch(35.33% 0.028 var(--base-hue));
		--gray-700: oklch(41.6% 0.035 var(--base-hue));
		--gray-800: oklch(48.49% 0.042 var(--base-hue));
		--gray-900: oklch(56.78% 0.05 var(--base-hue));
		--gray-1000: oklch(66.65% 0.04 var(--base-hue));
		--gray-1100: oklch(77.16% 0.028 var(--base-hue));
		--gray-1200: oklch(94.23% 0.006 var(--base-hue));
		--blue-100: oklch(100% 0 var(--base-hue));
		--blue-200: oklch(98.91% 0.005 var(--base-hue));
		--blue-300: oklch(96.85% 0.013 var(--base-hue));
		--blue-400: oklch(93.66% 0.027 var(--base-hue));
		--blue-500: oklch(88.34% 0.052 var(--base-hue));
		--blue-600: oklch(82% 0.082 var(--base-hue));
		--blue-700: oklch(73.65% 0.124 var(--base-hue));
		--blue-800: oklch(64.6% 0.172 var(--base-hue));
		--blue-900: oklch(55.52% 0.223 var(--base-hue));
		--blue-1000: oklch(46.51% 0.225 var(--base-hue));
		--blue-1100: oklch(36.42% 0.168 var(--base-hue));
		--blue-1200: oklch(23.85% 0.101 var(--base-hue));
		--green-100: oklch(23.08% 0.04 170);
		--green-200: oklch(24.95% 0.04 170);
		--green-300: oklch(28.57% 0.056 170);
		--green-400: oklch(33.81% 0.067 170);
		--green-500: oklch(40.49% 0.081 170);
		--green-600: oklch(50.03% 0.101 170);
		--green-700: oklch(60.62% 0.123 170);
		--green-800: oklch(73.6% 0.15 170);
		--green-900: oklch(86.02% 0.176 170);
		--green-1000: oklch(89.3% 0.169 170);
		--green-1100: oklch(91.18% 0.134 170);
		--green-1200: oklch(94.49% 0.08 170);
		--red-100: oklch(20.11% 0.07 22);
		--red-200: oklch(21.27% 0.075 22);
		--red-300: oklch(23.51% 0.084 22);
		--red-400: oklch(26.84% 0.099 22);
		--red-500: oklch(31.03% 0.116 22);
		--red-600: oklch(37.24% 0.143 22);
		--red-700: oklch(43.14% 0.167 22);
		--red-800: oklch(51.82% 0.204 22);
		--red-900: oklch(60.12% 0.235 22);
		--red-1000: oklch(64.51% 0.204 22);
		--red-1100: oklch(73.3% 0.145 22);
		--red-1200: oklch(85.47% 0.071 22);
		--orange-100: oklch(20.38% 0.044 60);
		--orange-200: oklch(21.87% 0.048 60);
		--orange-300: oklch(24.79% 0.055 60);
		--orange-400: oklch(28.78% 0.067 60);
		--orange-500: oklch(34.43% 0.081 60);
		--orange-600: oklch(42.19% 0.101 60);
		--orange-700: oklch(50.38% 0.125 60);
		--orange-800: oklch(60.87% 0.153 60);
		--orange-900: oklch(70.93% 0.18 60);
		--orange-1000: oklch(76.91% 0.165 60);
		--orange-1100: oklch(83.38% 0.121 60);
		--orange-1200: oklch(90.99% 0.066 60);
		--pink-100: oklch(91.7% 0.052 352);
		--pink-200: oklch(90.69% 0.059 352);
		--pink-300: oklch(89.72% 0.06 352);
		--pink-400: oklch(86.75% 0.086 352);
		--pink-500: oklch(82.97% 0.114 352);
		--pink-600: oklch(77.72% 0.155 352);
		--pink-700: oklch(73.12% 0.194 352);
		--pink-800: oklch(68.84% 0.231 352);
		--pink-900: oklch(65.43% 0.257 352);
		--pink-1000: oklch(55.6% 0.24 352);
		--pink-1100: oklch(42.39% 0.195 352);
		--pink-1200: oklch(30.21% 0.138 352);
	}
}
